.bodyBox{
	background-color: #A3E561;
	align-items: center;
	justify-content: center;
    display: flex;
}


.imgSlider{
	width: 750px;
	height: 500px;
}

.rbtn:not(:last-child) {
	margin-right: 40px;
}
.picNavigator {
	margin-top: -45px;
	position: absolute;
	width: 800px;
	display:flex;
	justify-content: center;
}

.radioBtn {
	border-radius: 100px;
	width: 20px;
	height: 20px;
	border: 3px solid #E92424;
}

.radioBtn:hover{
	background-color: #E92424;
}